body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d7da;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
.header {
    background-color:#850005;
    color: rgb(224, 165, 15);
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* New parent container to align logo and form together */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img-content img {
    width: 300px; /* Adjust to fit above login */
    height: auto;
}

.login {
    width: 300px;
    margin-top: 20px;
    padding: 25px;
    background-color: #ffc300;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login p {
    margin: 10px 0 5px;
    font-weight: bold;
}

.login input {
    width: 280px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#loginForm{
    width: 280px;
}
#loginForm button{
    width: 300px;
}
.login button {
    width: 100%;
    padding: 10px;
    background-color: #850005;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #357ae8;
}
.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link p {
  font-size: 14px;
  color: #333;
}

.register-link a {
  color: #850005;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

